extends ../templates/main.pug

block head
  title Silviu Iordache - Projects

block content
  section#projects-section.container
    .row.justify-content-center.mt-5
      h1 Projects

    .row.mb-5
      .col-12
        h3.mb-0 Bytes Route
        p.text-muted Caphyon
      .col-12.col-md-6
        img.img-fluid(src="/assets/projects/bytes-route.png")
      .col-12.col-md-6.d-flex.flex-column.justify-content-between
        p A codeless solution to building onboarding tours on your website.
        p Tech: Vue.js, Node.js, Bootstrap, Stylus, Pug, Jest, Heroku
          
        .links.d-flex.justify-content-start
          a.btn.btn-outline-primary.link(href="https://bytesroute.com/" target="_blank" rel="noopener" title="See live")
            i.fas.fa-external-link-alt.mr-1
            span View

    .row.justify-content-md-center
      .col-12
        .separator-line

    .row.mb-5
      .col-12
        h3.mb-0 Simon 
        p.text-muted Personal Project
      .col-12.col-md-6
        img.img-fluid(src="/assets/projects/simon.png")
      .col-12.col-md-6.d-flex.flex-column.justify-content-between
        .project-info
          p A clone of the classic memory game, #[a.link(href='https://en.wikipedia.org/wiki/Simon_(game)' target='_blank' rel='noreferrer noopener') Simon].
          p Concepts: finite state machine, sound objects
          p Tech: Vanilla JS, CSS & HTML
        .links.d-flex.justify-content-start
          a.btn.btn-outline-primary.link(href="https://laughing-dubinsky-d5bafe.netlify.app/" target="_blank" rel="noopener" title="See live")
            i.fas.fa-external-link-alt.mr-1
            span View
          a.btn.btn-outline-primary.link.ml-3(href="https://github.com/SilviuIordache/simon" target="_blank" rel="noopener" title="See live")
            i.fab.fa-github.mr-1
            span Code
    
    .row.justify-content-md-center
      .col-12
        .separator-line
    
    .row.mb-5
      .col-12
        h3.mb-0 Bike Store (front-end)
        p.text-muted Personal Project
      .col-12.col-md-6
        img.img-fluid(src="/assets/projects/bike-store.png")
      .col-12.col-md-6.d-flex.flex-column.justify-content-between
        .project-info
          p A front-end application for an online bike store built using Vue.js 
          p Concepts: Front-end architecture using a JavaScript framework: VueJS, image uploading
          p Tech: Vue.js, Pug, Stylus, 
        .links.d-flex.justify-content-start
          a.btn.btn-outline-primary.link(href="https://github.com/SilviuIordache/bikestore-fe" target="_blank" rel="noopener" title="See live")
            i.fab.fa-github.mr-1
            span Code

      
    .row.justify-content-md-center
      .col-12
        .separator-line
    
    .row.mb-5
      .col-12
        h3.mb-0 Bike Store (back-end)
        p.text-muted Personal Project
      .col-12.col-md-6
        img.img-fluid(src="/assets/projects/bike-api.png")
      .col-12.col-md-6.d-flex.flex-column.justify-content-between
        .project-info
          p An API for an online bike store, running on NodeJS and Express
          p Concepts: RESTful API, image uploading
          p Tech: Node.js, Express
        .links.d-flex.justify-content-start
          a.btn.btn-outline-primary.link(href="https://github.com/SilviuIordache/bikestore-be" target="_blank" rel="noopener" title="See live")
            i.fab.fa-github.mr-1
            span Code