html.h-100
  head
    meta(charset="utf-8")
    meta(name="author" content="Silviu Iordache")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ultra
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="./css/style.css")
    script(src="https://kit.fontawesome.com/3e40f7071c.js" crossorigin="anonymous")

  body.h-100.d-flex.flex-column
    header.d-flex.justify-content-between.align-items-center.py-3
      .d-flex.align-items-center.ml-4
        .div
          h4.mb-0 Silviu Iordache
          p.mb-0 Web Developer
      ul.mr-4
        li ABOUT
        li PORTOFOLIO
        li CONTACT

    main.container.mt-4
      .row.justify-content-center
        h1 About Me
      .row
        .col-8
          p My name is Silviu Iordache, I was born in Craiova, Romania in 1992
          p My professional career started in the video game industry, where I worked for almost 6 years as a game designer and content & level creator</p>

          p In 2018, I decided to quit my career in the video game industry and pursue something new. The road led me to web development. For the past year I've been learning web programming and I got hired as a full-stack web programmer at Caphyon, in Craiova.</p>
        .col-4.d-flex.align-items-center
          img.rounded-xl.shadow(src="./assets/me.jpg" width="100%")

    section#projects-section.container
      .row.justify-content-center
        h1 Projects

      .row.mb-5
        .col-12
          h3.mb-0 Bytes Route
          p.text-muted Caphyon
        .col-12.col-md-6
          img.img-fluid(src="/assets/projects/bytes-route.png")
        .col-12.col-md-6.d-flex.flex-column.justify-content-between
          p A codeless solution to building onboarding tours on your website.
          p Tech: Vue.js, Node.js, Bootstrap, Stylus, Pug, Jest, Heroku
            
          .links.d-flex.justify-content-start
             a.btn.btn-outline-primary.link(href="https://bytesroute.com/" target="_blank" rel="noopener" title="See live")
              i.fas.fa-external-link-alt.mr-1
              span View

      .row.justify-content-md-center
        .col-12
          .separator-line

      .row.mb-5
        .col-12
          h3.mb-0 Simon 
          p.text-muted Personal Project
        .col-12.col-md-6
          img.img-fluid(src="/assets/projects/simon.png")
        .col-12.col-md-6.d-flex.flex-column.justify-content-between
          .project-info
            p A clone of the classic memory game, #[a.link(href='https://en.wikipedia.org/wiki/Simon_(game)' target='_blank' rel='noreferrer noopener') Simon].
            p Concepts: finite state machine, sound objects
            p Tech: Vanilla JS, CSS & HTML
          .links.d-flex.justify-content-start
            a.btn.btn-outline-primary.link(href="https://laughing-dubinsky-d5bafe.netlify.app/" target="_blank" rel="noopener" title="See live")
              i.fas.fa-external-link-alt.mr-1
              span View
            a.btn.btn-outline-primary.link.ml-3(href="https://github.com/SilviuIordache/simon" target="_blank" rel="noopener" title="See live")
              i.fab.fa-github.mr-1
              span Code
      
      .row.justify-content-md-center
        .col-12
          .separator-line
      
      .row.mb-5
        .col-12
          h3.mb-0 Bike Store (front-end)
          p.text-muted Personal Project
        .col-12.col-md-6
          img.img-fluid(src="/assets/projects/bike-store.png")
        .col-12.col-md-6.d-flex.flex-column.justify-content-between
          .project-info
            p A front-end application for an online bike store built using Vue.js 
            p Concepts: Front-end architecture using a JavaScript framework: VueJS, image uploading
            p Tech: Vue.js, Pug, Stylus, 
          .links.d-flex.justify-content-start
            a.btn.btn-outline-primary.link(href="https://laughing-dubinsky-d5bafe.netlify.app/" target="_blank" rel="noopener" title="See live")
              i.fas.fa-external-link-alt.mr-1
              span View (TBD)
            a.btn.btn-outline-primary.link.ml-3(href="https://github.com/SilviuIordache/bikestore-fe" target="_blank" rel="noopener" title="See live")
              i.fab.fa-github.mr-1
              span Code

        
      .row.justify-content-md-center
        .col-12
          .separator-line
      
      .row.mb-5
        .col-12
          h3.mb-0 Bike Store (back-end)
          p.text-muted Personal Project
        .col-12.col-md-6
          img.img-fluid(src="/assets/projects/bike-api.png")
        .col-12.col-md-6.d-flex.flex-column.justify-content-between
          .project-info
            p An API for an online bike store, running on NodeJS and Express
            p Concepts: RESTful API, image uploading
            p Tech: Node.js, Express
          .links.d-flex.justify-content-start
            a.btn.btn-outline-primary.link(href="https://github.com/SilviuIordache/bikestore-be" target="_blank" rel="noopener" title="See live")
              i.fab.fa-github.mr-1
              span Code




    section#hobbies-section.container
      .row.justify-content-md-center
        .col-12
          .separator-line

      .row.justify-content-center
        h1 Hobbies
      .row
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🏋️
            p Fitness
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🚴
            p Cycling
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 📖
            p Reading
        .col-6.col-md-4
          .hobby.text-center
            p.emoji ⛰️
            p Nature
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🧘
            p Wellness
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🖥️
            p Programming


    footer.container.mt-auto.pt-3.px-0.mb-4.d-flex.justify-content-between
      p.text-muted Silviu Iordache © 2020
      ul
        li
          a.footer-link(href="https://github.com/SilviuIordache")         
            i.fab.fa-github.fa-lg
        li
          a.footer-link(href="https://www.linkedin.com/in/silviu-iordache-36b81785")
            i.fab.fa-linkedin.fa-lg    